/* @media screen and (min-width:992px) {
    .carousel-caption h1 {
        margin-top: -400px;
    }
}

.carousel-control-prev {
    color: white;
} */

.carousel-caption{
    top: 35%;
}
.join-section{
    min-height: 200px;
}